<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {% include head.html %}

    <!-- hack iOS CSS :active style -->
    <body ontouchstart="">

        {% include nav.html %}

        {{ content }}

        {% include footer.html %}


    <!-- Image to hack wechat -->
    <img src="/img/icon_wechat.png" width="0" height="0" />
    <!-- Migrate from head to bottom, no longer block render and still work -->
    <!--鼠标点击爱心动画-->
    <script type="text/javascript" src="/js/src/love.js"></script>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script src="/scripts/common.js?t={{ site.time | date: "%Y%m%d%H%M%S" }}"></script>

  {% if site.url contains 'runbing'  %}
    {% include google-analytics.html %}
  {% endif %}

  </body>
</html>